extends layout

block content
    form(action="." method="POST")
      label(for="magnet") Magnet:
      input(
        type="text"
        id="magnet"
        name="magnet"
      )

      input(type="submit" value="Submit")

    if magnetData
        ul
          for magnet in magnetData
            li= magnet
